html *{
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #c1d4fd
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
header {
    border-radius: 45px;
    font-size: 0;
    width: 75%;
    margin: 0 auto;
    background: #81a2eb;
}
.logo {
    margin: 0;
    padding: 5px;
    text-align: center;
}
#pagelogo{
    padding: 10px;
    height: 70px;
}
.header-container {
}

footer {
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    background: #333333;
}
.footer-container {
    margin: 0;
    height: 70px;
    padding: 10px 0;
}
#CommingSoonImg img{
    width: 50%;
}

.main_content{
    border-radius: 45px;
    margin: 10px auto;
    padding: 45px;
    width: 70%;
    background-color: #fefefe;
}
.content_title
{
    padding: 0 auto;
}
.content_main
{
    padding: 10px auto;
}

#Image2Code, #Code2Image{
    margin: 20px auto;
    width: 90%;
}

#resultCanvas{
    margin: 10 auto;
}

pre {
    overflow:auto;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    height: 200px;
}