html *{
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #EAEDFF
}

header {
    margin: 0 auto;
    background: #D0D9FF;
}
.logo {
    margin: 0;
    text-align: center;
}
#pagelogo{
    height: 100px;
}
.header-container {
    /*padding: 30px 20px 30px 20px;*/
}

footer {
    background: #D0D9FF;
}
.footer-container {
    margin: 0;
    padding: 30px 0 30px 0;
}
#CommingSoonImg img{
    width: 50%;
}