body {
    margin: 0;
    padding: 0;
}

.LoginTools {
    margin: auto;
    max-width: 640px;
    max-height: 480px;
    padding: 20px 20px;

    border-radius: 20px;

    text-align: center;

    background-color: rgb(247, 158, 85);
}

#ToolsZip {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: azure;
}
.EachTool {
    margin: 0px 0px;
    padding: 20px 20px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px 10px 0 10px;
}

li {
    flex: 1 0 auto;
    margin: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
}

li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
}